<div class="container">
    <div class="form__data">
        <div class="form__data-inputs">
            <div class="form__title">{{title}}</div>
            <label> {{login}}
                {{{loginInput}}}
            </label>
            <label> {{password}}
                {{{passwordInput}}}
            </label>
        </div>
        <div class="form__data-button">
            {{{button}}}
            <div class="footerNote"><a href="{{footerNote.url}}">{{footerNote.text}}</a></div>
        </div>
    </div>
</div>