<div class="right__back">
    <img src={{back_arrow}} alt="Назад" class="back_arrow">
</div>
<div class="container">
    <img src={{user__avatar}} alt="Нажмите чтобы изменить" class="user__avatar">

    <p class="user__title">{{user}}</p>

    <div class-"user__settings">
        {{#each user__settings}}
        <div class="user__settings-item">
            <p class="user__set_name">{{this.name}}</p>
            <input class="settings__input required" type="password" name={{this}} placeholder={{this.value}}>
        </div>
        {{/each}}
    </div>
    <div class="form__data-button">
        {{{button}}}
    </div>
</div>