<div class="settings__container">
<div class="left__back">
    {{{backButton}}}
</div>
<div class="settings__main">
    <img src={{userAvatar}} alt="Нажмите чтобы изменить" class="userAvatar">

    <p class="user__title">{{user}}</p>

    <div class-"user__settings">
        <div class="user__settings-item">
            <p class="user__set_name">{{oldPassword.name}}</p>
            {{{oldPasswordInput}}}
        </div>
        <div class="user__settings-item">
            <p class="user__set_name">{{password.name}}</p>
            {{{passwordInput}}}
        </div>
        <div class="user__settings-item">
            <p class="user__set_name">{{checkPassword.name}}</p>
            {{{checkPasswordInput}}}
        </div>
    </div>
    <div class="form__data-button">
        {{{button}}}
    </div>
</div>
</div>