<div class="settings__container">
<div class="left__back">
    {{{backButton}}}
</div>
<div class="settings__main">
        {{{avatar}}}
        {{{title}}}

    <div class="user__settings">
        <div class="user__settings-item">
            <p class="user__set_name">Старый пароль</p>
            {{{oldPasswordInput}}}
        </div>
        <div class="user__settings-item">
            <p class="user__set_name">Новый пароль</p>
            {{{passwordInput}}}
        </div>
        <div class="user__settings-item">
            <p class="user__set_name">Повторить новый пароль</p>
            {{{checkPasswordInput}}}
        </div>
    </div>
    <div class="form__data-button">
        {{{button}}}
    </div>
</div>
</div>