<div class="right__back">
    <img src={{back_arrow}} alt="Назад" class="back_arrow">
</div>
<div class="container">
    <img src={{user__avatar}} alt="Ваш аватар" class="user__avatar">

    <p class="user__title">{{user}}</p>

    <div class-"user__settings">
        {{#each user__settings}}
        <div class="user__settings-item">
            <p class="user__set_name">{{this.name}}</p>
            <p class="user__set_value">{{this.value}}</p>
        </div>
        {{/each}}
    </div>

    {{#each options}}
    <div class="options__item"><a href={{this.url}}>{{this.item}}</a></div>
    {{/each}}

    <div class="options__exit"><a href="index.html">{{option__exit}}</a></div>
</div>