<div class="settings__container">
    <div class="left__back">
        {{{button}}}
    </div>
    <div class="settings__main">
        <img src={{userAvatar}} alt="Ваш аватар" class="userAvatar">

        <p class="user__title">{{user}}</p>

        <div class-"user__settings">
            {{{email}}}

            {{{login}}}

            {{{first_name}}}

            {{{second_nmae}}}

            {{{phone}}}

        </div>

        <div class="options__item"><a href={{change__data.url}}>{{change__data.item}}</a></div>
        <div class="options__item"><a href={{change__password.url}}>{{change__password.item}}</a></div>

        <div class="options__exit">{{{exitButton}}}</div>
    </div>
</div>