<div class="settings__container">
    <div class="left__back">
        {{{backButton}}}
    </div>
    <div class="settings__main">
        {{{avatar}}}
        {{{title}}}

        <div class-"user__settings">
            {{{email}}}

            {{{login}}}

            {{{displayName}}}

            {{{firstName}}}

            {{{secondName}}}

            {{{phone}}}


        </div>

        <div class="options__exit">{{{linkSet}}}</div>
        <div class="options__exit">{{{linkPas}}}</div>

        <div class="options__exit">{{{exitButton}}}</div>
    </div>
</div>