    <div class="modal {{inputId}}">
        <div class="modalContent">
            <p class="user__title">{{title}}</p>
            <label>{{label}}<br>
            <input class={{inputClass}} 
            id={{inputId}} type={{inputType}} ></input>
            </label>
            {{{changeButton}}}
        </div>
    </div>