<div class="chats__container">
    <div class="chatsList">
        <div class="profileLink"><a href="{{profileLink.url}}">{{profileLink.text}}</a></div>
        <input class="search" placeholder="Поиск"></input>
        <div class="chatsList">

            <div class="chatsList__item">
                <div>
                    <img src={{chat1.img}} alt={{chat1.title}} class="chat__avatar">
                </div>
                <div>
                    <p class='chat__title'>{{chat1.title}}</p>
                    <p class='chat__text'>{{chat1.text}}</p>
                </div>
            </div>
            <div class="chatsList__item">
                <div>
                    <img src={{chat2.img}} alt={{chat2.title}} class="chat__avatar">
                </div>
                <div>
                    <p class='chat__title'>{{chat2.title}}</p>
                    <p class='chat__text'>{{chat2.text}}</p>
                </div>
            </div>
            <div class="chatsList__item">
                <div>
                    <img src={{chat3.img}} alt={{chat3.title}} class="chat__avatar">
                </div>
                <div>
                    <p class='chat__title'>{{chat3.title}}</p>
                    <p class='chat__text'>{{chat3.text}}</p>
                </div>
            </div>
            <div class="chatsList__item">
                <div>
                    <img src={{chat4.img}} alt={{chat4.title}} class="chat__avatar">
                </div>
                <div>
                    <p class='chat__title'>{{chat4.title}}</p>
                    <p class='chat__text'>{{chat4.text}}</p>
                </div>
            </div>
            <div class="chatsList__item">
                <div>
                    <img src={{chat5.img}} alt={{chat5.title}} class="chat__avatar">
                </div>
                <div>
                    <p class='chat__title'>{{chat5.title}}</p>
                    <p class='chat__text'>{{chat5.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="currentChat">
        <div class="currentChat__header">
            <img src={{companion__avatar}} alt="Ваш собеседник" class="companion__avatar">
            <p>Вадим</p>
            <div class="extra"><img src={{dots}} alt="" class="dots">
            </div>
        </div>
        <div class="currentChat__main">
            <div class="currentChat__main-date">{{date}}</div>
            <div class="currentChat__main_messages chat__text {{msg1.author}}">
                <div class="currentChat__message {{msg1.author}}">
                    {{{msg1.content}}}
                </div>
            </div>
            <div class="currentChat__main_messages chat__text {{msg2.author}}">
                <div class="currentChat__message {{msg2.author}}">
                    <img src={{msg2.content}} alt="фото" class="message_img">
                </div>
            </div>
            <div class="currentChat__main_messages chat__text {{msg3.author}}">
                <div class="currentChat__message {{msg3.author}}">
                    {{{msg3.content}}}
                </div>
            </div>
        </div>
        <div class="currentChat__sendMessage">
            <img src={{clip__img}} alt="Отправить файл" class="clip">
            {{{input}}}
            {{{button}}}
        </div>
    </div>
</div>