<div class="chats__container">
    <div class="chatsList">
        <div class="profileLink"><a href="{{profileLink.url}}">{{profileLink.text}}</a></div>
        <input class="search" placeholder="Поиск"></input>
        <div class="currentChatsList">

            {{{newChat}}}
            {{#each chats}}
            <div class="chatsList__item" onclick="some()">
                    <p class='chat__title'>{{this.title}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="currentChat">
        <div class="currentChat__header">

        </div>
        <div class="currentChat__main">

        </div>
        <div class="currentChat__sendMessage">
            <img src={{clip__img}} alt="Отправить файл" class="clip">
            {{{input}}}
            {{{button}}}
        </div>
    </div>
</div>