<div class="chats__container">
    <div class="chatsList">
        <div class="profileLink">{{{link}}}</div>
        <input class="search" placeholder="Поиск"></input>
        <div class="currentChatsList">
            {{{newChat}}}
            <div>
                <h3>Список чатов</h3>
            </div>
            {{{chatList}}}
        </div>
    </div>
    <div class="currentChat">
        {{{currentChat}}}
        <div class="currentChat__sendMessage">
            <img src={{clip__img}} alt="Отправить файл" class="clip">
            {{{input}}}
            {{{button}}}
        </div>
    </div>
</div>