<div class="chats__container">
    <div class="chatsList">
        <div class="profileLink"><a href="{{profileLink.url}}">{{profileLink.text}}</a></div>
        <input class="search" placeholder="Поиск"></input>
        <div class="currentChatsList">
            {{{newChat}}}
            <div>
                <h3>Список чатов</h3>
            </div>
            {{#each chats}}
            <div class="chatsList__item" onclick="showChat()">
                <p class='chat__title'>{{this.title}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="currentChat">
        {{{currentChat}}}
    </div>
</div>