<div class="currentChat__container">
    <div class="currentChat__header">
        {{title}}
        <div>
        {{{addUser}}}
        {{{deleteUser}}}
        </div>
    </div>
    <div class="currentChat__main">
        {{title}}
    </div>
    {{{modalAdd}}}
    {{{modalDelete}}}
</div>
