<div class="container">
    <div class="form__data">
        <div class="form__data-inputs">
            <div class="form__title">{{title}}</div>
            <label> {{email.id}}<br> {{{emailInput}}}</label>
            <label> {{login.id}}<br> {{{loginInput}}}</label>
            <label> {{first_name.id}}<br> {{{first_nameInput}}}</label>
            <label> {{second_name.id}}<br> {{{second_nameInput}}}</label>
            <label> {{phone.id}}<br> {{{phoneInput}}}</label>
            <label> {{password.id}}<br> {{{passwordInput}}}</label>
            <label> {{checkpassword.id}}<br> {{{checkpasswordInput}}}</label>
        </div>
        <div class="form__data-button">
            {{{button}}}
            <div class="footerNote"><a href="{{footerNote.url}}">{{footerNote.text}}</a></div>
        </div>
    </div>
</div>